body {
    margin: 0;
    font-family: verdana,sans-serif;
}

header {
    display: flex;
    padding: 5px 5px;
}

.heder-menu {
}

.heder-menu #open {
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 52px;
    line-height: 55px;
    cursor: pointer;
    background-color: rgb(243, 92, 92);
}

.heder-menu #open:hover {
    background-color: rgb(0, 0, 0,0);
    transition-duration: 1.0s;
}

.heder-menu #open.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /* left: 0; */
    opacity: 0;
    /* ここで枠の広さを調節 */
    /* background-color: rgba(98, 233, 150,0.80); */
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    pointer-events: none;
    transition-duration: 1.0s;
    z-index: 1;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.overlay #close{
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 52px;
    line-height: 55px;
    cursor: pointer;
}

.overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* 座標をy方向に移動する */
    transform: translateY(55px);
}

.overlay li {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    opacity: 0; 
    /* transition: opacity .3s, transform .3s; */
    cursor: pointer;
}

.overlay.show li {
    opacity: 1;
    transform: none;
}

/* 要素をhoverしたとき */
.overlay li:hover {
    background-color: salmon;
}

/* 要素をクリックしたとき */
.overlay li:active {
    position: relative;
    top: -5px;
    box-shadow: 0px 5px #000000;
}

.overlay li a{
    width: 50px;
    text-decoration: none;
    color: #000000;
}


/* iPhone 縦 */
/* media クエリは小さい順に上から書かないと反映されない？  */
@media (max-width: 600px) {  
    /*　for iPhone Landscape　(iPhone 横)　*/
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(255,255,255,0.80);
        padding: 64px;
    }

    .overlay li {
        text-align: center;
        padding: 10px;
    }
}
    
